@import "./login";
@import "./reset";
@import "./index";
@import "./about";
@import "./components/header";
@import "./contact";
@import "./components/newheader";
@import "./service";

$colorA: #D90416;
$colorB: #0367A6;
$colorC: #049DD9;
$colorD: #023440;
$colorE: #F25C05;

